.video-AdClickFree-wrapper{
	display: inline-block;
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
.video-AdClickFree-front {
	display: block;
	position: absolute;
	top: 65%;
	bottom: 5px;
	left: 10px;
	right: 10px;
	padding-bottom: 1%;
	background: transparent;
	z-index: 1000;
	max-width: 100%;
    max-height: 100%;
	width:inherit;
    height:inherit;
    
}
.video-AdClickFree-front:before {
    content: "Ad by: inGolin.com";
    display: inline-block;
	position: absolute;
    top: 5px;
	right: 3px;
	width: 110px;
	height: auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.7);
	border: none;
	font-size: 10px;
	line-height: 15px;
	font-weight: 700;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	z-index: 100;
}

.video-AdClickFree-content-holder{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.video-AdClickFree-dismiss{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.2);
	border: none;
	font-size: 15px;
	line-height: 15px;
	font-weight: 700;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	z-index: 100;
}
.video-AdClickFree-dismiss:hover, .video-AdClickFree-dismiss:focus, .video-AdClickFree-dismiss:active {
	color: #fff;
	text-decoration: none;
}
.video-AdClickFree-content-holder{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 50;
}